<p class="demo-p">layout - 布局 </p>

<div class="container">
	<p class="demo-p">1 常规布局 </p>
	<div class="row margin-v-10">
		<div class="col col-10 demo-col">10</div>
		<div class="col col-10 demo-col">10</div>
		<div class="col col-10 demo-col">10</div>
		<div class="col col-10 demo-col">10</div>
		<div class="col col-10 demo-col">10</div>
		<div class="col col-10 demo-col">10</div>
		<div class="col col-10 demo-col">10</div>
		<div class="col col-10 demo-col">10</div>
		<div class="col col-10 demo-col">10</div>
		<div class="col col-10 demo-col">10</div>
	</div>
	<div class="row margin-v-10">
		<div class="col col-10 demo-col">10</div>
		<div class="col col-90 demo-col">90</div>
	</div>
	<div class="row margin-v-10">
		<div class="col col-20 demo-col">20</div>
		<div class="col col-80 demo-col">80</div>
	</div>
	<div class="row margin-v-10">
		<div class="col col-25 demo-col">25</div>
		<div class="col col-75 demo-col">75</div>
	</div>
	<div class="row margin-v-10">
		<div class="col col-30 demo-col">30</div>
		<div class="col col-70 demo-col">70</div>
	</div>
	<div class="row margin-v-10">
		<div class="col col-33 demo-col">33</div>
		<div class="col col-67 demo-col">67</div>
	</div>
	<div class="row margin-v-10">
		<div class="col col-40 demo-col">40</div>
		<div class="col col-60 demo-col">60</div>
	</div>
	<div class="row margin-v-10">
		<div class="col col-50 demo-col">50</div>
		<div class="col col-50 demo-col">50</div>
	</div>
	<div class="row margin-v-10">
		<div class="col  demo-col">100</div>
	</div>
	<div class="row margin-v-10">
		<div class="col col-33 demo-col">33</div>
		<div class="col col-33 demo-col">33</div>
		<div class="col col-33 demo-col">33</div>
	</div>
	<p class="demo-p">2 左侧固定宽度1rem，右侧自适应 </p>
	<div class="row margin-v-10">
		<div class="col-col demo-col">1rem</div>
		<div class="col-free demo-col">auto</div>
	</div>
	<p class="demo-p">3 右侧固定宽度1rem，左侧自适应 </p>
	<div class="row margin-v-10">
		<div class="col-free demo-col">auto</div>
		<div class="col-col demo-col">1rem</div>
	</div>
	<p class="demo-p">4 左、右侧固定宽度1rem，中间自适应 </p>
	<div class="row margin-v-10">
		<div class="col-col demo-col">1rem</div>
		<div class="col-free demo-col">auto</div>
		<div class="col-col demo-col">1rem</div>
	</div>
	<p class="demo-p">5 垂直margig 水平padding </p>
	<div class="row padding-h-10 margin-v-10">
		<div class="col col-50 demo-col">50</div>
		<div class="col col-50 demo-col">50</div>
	</div>
</div>






