.dialog-overlay{
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.6);
        z-index: 1000;
        display: none; 
    .dialog-footer .touching{
        background: #e3e3e3 !important;
    }
    .dialog-footer .disabled{
        color: #dbdbdb !important;
        background-color: #FFF !important;
        border-top: 1px solid #ddd !important;
    }
    .dialog-container{
        height: 100%;
        width: 100%;
        display: table;
        position: fixed;
        top: -100%;
        transition: top 0.3s;
    }
    .dialog-container.dialog-show{
        top: 0;
    }
    .dialog-container.dialog-hide{
        top: 100%;
    }
    .dialog-table-row{
        display: table-row;
    }
    .dialog-table-cell{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .dialog-content{
        background: #fff;
        display: inline-block;
        position: relative;
        width: 85%;
        text-align: left;
    }
    .dialog-mini{
        width: inherit;
        p{
            font-size: 0.12rem;
            margin: 0.2rem 0;
        }
    }
    .dialog-body{
        padding: $dialog-padding;
        overflow-y: auto;
        -webkit-overflow-scrolling:touch;
        max-height: 3rem;
        color:#333333;
        font-size: 0.12rem;
        margin:0;
    }
    .dialog-header{
        padding: 0 0.1rem;
    }
    .dialog-title{
        position:relative;
        border-bottom: 0.01rem solid $grey-light;
        font-weight: bold;
        line-height: 0.3rem;
        height: 0.3rem;
    }
    .title{
        display:inherit;
        font-size: 0.16rem;
        color: $brand-red;
    }
    .close-btn{
        position:absolute;
        top:0;
        right:0;
        font-size: 0.16rem;
        color: $grey-light;
        display: inline-block;
        padding-left: 0.16rem;
    }
    .dialog-action{
        height: 0.4rem;
        background: #eee;
        color: $grey-dark;
        text-align: center;
        line-height: 0.4rem;
        font-size: 0.12rem;
        box-sizing: border-box;
    }
    .action-left{
        border-right: 1px solid $grey-light;
    }
    .action-right{
    }
    .dialog-footer{
        height: 0.4rem;
    }
}

.dialog-overlay.dialog-blue{
    .dialog-title{
        text-align: center;
        border-bottom: inherit;
    }
    .dialog-content{
        background-color: #fbfbfb;
        border-radius: 0.05rem;
    }
    .title{
        color: black;
    }
    .close-btn{
        display: none;
    }
    .dialog-footer .action-left{
        border-radius:  0 0 0 0.05rem ;
        border-right: initial;
    }
    .dialog-footer .action-right{
        border-radius:  0 0 0.05rem 0 ;
    }
    .dialog-action{
        background-color: #f3f3f3;
        color: #0099ff;
        border: 0.01rem solid #e3e3e3;
        border-radius: 0 0 0.05rem 0.05rem;
    }

}

