.banner{
	width:100%;
	padding:0.08rem 0;
	background:$brand-yellow;
	color:$brand-red;
	text-align:center;
	font-size:0.12rem;
}
@media screen and (max-width: 320px){
	.banner{
		padding:0.08rem 0;
		font-size:0.12rem;
	}
}