.trace{
	position: fixed;
	top: 40%;
	left: 50%;
	min-width: 2rem;
	max-width: 2.5rem;
	margin-left: -1rem;
	background:$grey-dark;
	color:$grey-light;
	z-index:1000;
	border-radius: 5px;
	padding:0.2rem;
	font-size:0.13rem;
	text-align:center;
	opacity: 0;
    transition: opacity 1s;
}

.trace-show{
	opacity: 1;
}