body{
	background: #EAF5F9;;
}
.demo-col{
	height: 0.3rem;
	background: #ddd;
	color: #222;
	text-align: center;
	line-height: 0.3rem;
	font-size: 0.13rem;
}
.demo-col-1{
	height: 0.3rem;
	background: #eee;
	color: #222;
	text-align: center;
	line-height: 0.3rem;
	font-size: 0.14rem;
}
.demo-pading-top{
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

.demo-p{
	padding: 0.1rem;
	color: #f21377;
	font-size: 0.15rem;
	border-left: 3px solid #f21377;
	margin-left: 0.1rem;
	margin-top: 0.2rem;
	margin-bottom: 0.1rem;
	background: #FCF3F3;
}

.noscroll{
    position:fixed;
    overflow:hidden;
}

.demo-font-col{
	padding: 0.1rem 0;
	background: #eee;
	height: 0.4rem;
	font-size: 0.2rem;
	text-align: center;
}
.demo-font-col-1{
	padding: 0.1rem 0;
	background: #ddd;
	height: 0.4rem;
	font-size: 0.14rem;
	text-align: center;
}

.demo-col-img{
	text-align: center;
}
.demo-img{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin: 0 auto ;
}
.demo-btn-col{
	height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.18rem;
}
